<div id="search-component" class="container">
  <h4><label for="search-box">Product Search</label></h4>

  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Type to search products"
      #searchBox
      [(ngModel)]="searchText"
      (input)="search(searchBox.value)"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="clearSearchField()"
      >
        X
      </button>
    </div>
  </div>

  <ul class="list-group">
    <li
      *ngFor="let product of searchProducts$ | async"
      (click)="searchItemClicked(product.name)"
      class="list-group-item list-group-item-action"
    >
      <!-- <a routerLink="/detail/{{hero.id}}"> -->
      <b>{{ product.name }}:</b> {{ product.price }} USD
      <!-- </a> -->
    </li>
  </ul>
</div>

<div class="row">
  <div
    *ngFor="let product of products; index as ind"
    class="col-sm-12 col-md-6 col-xl-4 mt-4"
  >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        - {{ product.description }} <br />
        - {{ product.price }} USD <br />
        - Category: {{ product.categoryName }}
      </div>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary" (click)="loadMoreProducts()">
      Load more products
    </button>
  </div>
</div>
