<!-- <div class="container">
  <div class="navbar navbar-dark navbar-expand bg-dark">
    <a class="navbar-brand" href="#">E-commerce</a>
  </div>
  <div class="container">
    <categoryList></categoryList>
    <productList></productList>
  </div>
  <router-outlet></router-outlet>
</div> -->

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">E-commerce</a>
  <div class="collapse navbar-collapse">
    <div class="mr-auto">
      <!-- Pushes everything to right by taking all free place -->
    </div>
    <p *ngIf="accountService.userValue" class="text-white mr-1">
      {{ accountService.userValue.username }}: role {{accountService.userValue.role}}
    </p>
    <button
      *ngIf="accountService.userValue && accountService.userValue.role == 'Admin'"
      class="btn btn-primary mr-1"
      [routerLink]="['/admin']"
    >
      <i class="fa fa-user"></i> Admin
    </button>
    <button
      *ngIf="!accountService.userValue"
      class="btn btn-primary mr-1"
      [routerLink]="['/signin']"
    >
      Sign in
    </button>
    <button
      *ngIf="accountService.userValue"
      class="btn btn-primary mr-1"
      (click)="accountService.logout()"
    >
      Sign out
    </button>
    <button class="btn btn-primary mr-1" (click)="cartButtonClicked()">
      <i class="fa fa-shopping-cart"></i> Cart <span *ngIf="cartItemsCount() > 0">:{{cartItemsCount()}}</span>
    </button>
    <button class="btn btn-primary mr-1" (click)="wishlistButtonClicked()">
      <i class="fa fa-heart"></i> Wishlist
    </button>
  </div>
</nav>

<div class="container-fluid">
  <alert></alert>
  <router-outlet></router-outlet>
</div>
